.brands-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.brands-list__image-wrapper {
  flex: 1;
  max-width: 100px;
}

.brands-list img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}