.products-set {
  display: flex;
  flex-direction: column;
}

.products-set__header {
  display: flex;
  align-items: center;
}

.products-set__heading {
  border: none;
  background-color: transparent;
  padding: 0 10px;
  cursor: pointer;
}
.products-set__heading.selected {
  border: 1px solid gray;
  border-bottom: none;
  border-top: 2px solid #007bb9;
}

.products-set__featured-set,
.products-set__trending-set {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
  padding: 20px;
  border: 1px solid gray;
  background-color: white;
}

.products-set__featured-set.selected,
.products-set__trending-set.selected {
  display: flex;
}

.products-set__product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-set__product-img {
  aspect-ratio: 1.2 / 1;
  width: 200px;
  object-fit: contain;
}

.products-set__product-name {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.products-set__product-rate {
  display: flex;
  flex-direction: row;
  gap: 2px;
  list-style-type: none;
}

.products-set__product-rate * {
  cursor: pointer;
}

.products-set__product-rate .stard {
  color: #e1c828;
}

.skeleton-products-set__product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skeleton-products-set__product-img {
  aspect-ratio: 1.2 / 1;
  width: 200px;
  border-radius: 5px;
  animation: 1s alternate infinite skeleton-background;
}

.skeleton-products-set__product-rate {
  width: 150px;
  height: 20px;
  margin: 0 auto;
  border-radius: 5px;
  animation: 1s alternate infinite skeleton-background;
}

.skeleton-products-set__product-name {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  border-radius: 5px;
  animation: 1s alternate infinite skeleton-background;
}

.skeleton-products-set__product-price {
  width: 70px;
  height: 20px;
  margin: 0 auto;
  border-radius: 5px;
  animation: 1s alternate infinite skeleton-background;
}