.arabic .testimonial__canvas, .arabic .testimonial__navigate-buttons {
  direction: ltr;
}

.testimonial {
  display: flex;
  flex-direction: column;
}

.testimonial__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #f5b840;
}

.testimonial__heading h2 {
  font-size: 1.3rem;
}

.testimonial__navigate-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.testmionial__navigate-left,
.testmionial__navigate-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #303030;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
}

.testimonial__canvas {
  display: flex;
  background-color: white;
  overflow: hidden;
}

.testimonial__figure {
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: .5s;
}

.testimonial__figure-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.testimonial__item-avatar {
  aspect-ratio: 1 / 1;
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial__figure-item hr {
  width: 50%;
}

.testimonial-skeleton__figure-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.testimonial-skeleton__item-avatar {
  aspect-ratio: 1 / 1;
  width: 50%;
  border-radius: 50%;
  animation: 1s alternate infinite skeleton-background;
}

.testimonial-skeleton__item-name {
  width: 70%;
  height: 20px;
  border-radius: 5px;
  animation: 1s alternate infinite skeleton-background;
}

.testimonial-skeleton__figure-item hr {
  width: 50%;
}

.testimonial-skeleton__item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 150px;
}

.testimonial-skeleton__dummy-text {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  animation: 1s alternate infinite skeleton-background;
}