.account-details {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 50% 50%;
  gap: 20px;
  height: calc(100vh - 60px);
  padding-top: 20px;
}

.account-details__home {
  font-size: 1.5rem;
  text-decoration: none;
  grid-column-start: 2;
}

.account-details__pseudo-file-input {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 6;
  aspect-ratio: 1 / 1;
  max-width: 330px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 20px #0004;
}

.account-details__pseudo-file-input img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#account-details__file-input {
  display: none;
}

.account-details__input-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
}

.account-details__input-wrapper label {
  text-transform: uppercase;
}

.account-details__input-wrapper input {
  padding: 0 10px;
}

.account-details__button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.account-details__edit-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: #f5b841;
  border: none;
  cursor: pointer;
}

.account-details__singout-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgb(211, 82, 82);
  cursor: pointer;
}

.account-details__delete-account-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: rgb(211, 82, 82);
  border: none;
  cursor: pointer;
}

.account-details__edit-cancle-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: rgb(159, 159, 159);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 531px) {
  .account-details {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .account-details__input-wrapper {
    width: 100%;
  }
}
