.arabic .account-details {
  direction: rtl;
}

.account-details {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding-top: 20px;
}

.account-details__home {
  font-size: 1.5rem;
  text-decoration: none;
  grid-column-start: 2;
}

.account-details__pseudo-file-input {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 6;
  aspect-ratio: 1 / 1;
  max-width: 330px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 20px #0004;
}

.account-details__pseudo-file-input img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#account-details__file-input {
  display: none;
}

.account-details__input-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
}

.account-details__input-wrapper label {
  text-transform: uppercase;
}

.account-details__input-wrapper input {
  padding: 0 10px;
}

.account-details__button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.account-details__edit-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: #f5b841;
  border: none;
  cursor: pointer;
}

.account-details__singout-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgb(211, 82, 82);
  cursor: pointer;
}

.account-details__delete-account-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: rgb(211, 82, 82);
  border: none;
  cursor: pointer;
}

.account-details__edit-cancle-button {
  width: max-content;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: rgb(159, 159, 159);
  border: none;
  cursor: pointer;
}

.arabic .cart {
  direction: rtl;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.cart * {
  text-decoration: none;
  cursor: default;
}

.cart h2 {
  font-size: 1.8rem;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgb(216, 216, 216);
}

.cart__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.cart__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.cart__item-details {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.cart__item-name {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(0, 75, 100);
  overflow: hidden;
  cursor: pointer;
}

.cart__item-size {
  color: rgb(128, 128, 128);
  text-transform: uppercase;
}

.cart__amount-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart__amount-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart__amount-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.cart__remove-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart__remove-button:hover {
  color: rgb(147, 147, 147);
}

@media screen and (max-width: 531px) {
  .account-details {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .account-details__input-wrapper {
    width: 100%;
  }
  .cart__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .cart__image-wrapper {
    grid-column: 1 / 5;
    width: 100%;
  }
  .cart__item-price {
    direction: rtl;
    grid-column: 3 / 5;
  }
  .cart__remove-button {
    margin-left: auto;
  }
}
