.arabic .products-grid {
  direction: rtl;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.categorized-product {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(216, 216, 216);
  overflow: hidden;
  position: relative;
}

.categorized-product.special-product::after {
  content: "special offer";
  width: 200px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: black;
  position: absolute;
  top: 10px;
  right: -65px;
  transform: rotate(40deg);
}

.arabic .categorized-product.special-product::after {
  content: "عرض خاص";
}

.categorized-product__img-wrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

.categorized-product__product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: darken;
}

.categorized-product__details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.categorized-product__product-name {
  width: max-content;
  max-width: 100%;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: initial;
  overflow: hidden;
}

.categorized-product__product-price {
  width: max-content;
  color: initial;
  text-decoration: none;
}

.categorized-product__product-rate {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.categorized-product__product-rate .stard {
  color: #e1c828;
}

.loading {
  color: gray;
  font-size: 1.5rem;
}

.category__pagination-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.category__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: monospace;
  font-weight: bold;
  line-height: 100px;
  cursor: pointer;
}

.category__pagination-input {
  -moz-appearance: textfield;
  text-align: center;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
}

.category__pagination-input::-webkit-outer-spin-button,
.category__pagination-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}