.product-details {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 20px;
  padding-bottom: 50px;
}

.product-details__product-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-details__product-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
}

.product-details__product-picture {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  animation: 1s alternate infinite skeleton-background;
  overflow: hidden;
  cursor: pointer;
}

.product-details__product-picture img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.product-details__image-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px #0003;
  overflow: hidden;
}

.product-details__skeleton {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  animation: 1s alternate infinite skeleton-background;
}

.product-details__blending-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  mix-blend-mode: hue;
}

.product-details__product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: darken;
  background-color: white;
}

.product-details__details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.product-details__go-back {
  width: max-content;
  font-size: 1.2rem;
  text-decoration: none;
}

.product-details__product-name {
  font-size: 2rem;
}

.product-details__sizes {
  display: flex;
  gap: 10px;
}

.product-details__sizes span {
  padding: 0 10px;
  text-transform: uppercase;
  background-color: gray;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.product-details__sizes span.active {
  outline: 3px solid #f5b841;
}

.product-details__product-details-description {
  margin-top: 20px;
}

.product-details__product-details-description h2 {
  font-size: 1.4rem;
}

.product-details__product-details-description pre {
  height: 120px;
  color: gray;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: pre-wrap;
  cursor: pointer;
}

.product-details__product-rate {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.product-details__product-rate li {
  font-size: 1.5rem;
}

.product-details__product-rate li.stard {
  color: #f5b841;
}

.product-details__product-price {
  font-size: 1.5rem;
}

.product-details__cart-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: max-content;
  padding: 5px 20px;
  border: none;
  background-color: #f5b841;
  cursor: pointer;
}

.product-details__carted {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: max-content;
  padding: 5px 20px;
  border: none;
  background-color: white;
  cursor: not-allowed;
  opacity: .5;
}

.product-details__popup-details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 10000;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.product-details__popup-details-close-button {
  appearance: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.product-details__popup-details.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.product-details__popup-modal {
  max-width: 70vw;
  max-height: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

.product-details__popup-text {
  white-space: pre-wrap;
  line-height: 40px;
}

.product-details__popup-text::first-line {
  font-weight: bold;
}

.product-details__other-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.product-details__others-title {
  margin-top: 50px;
  font-size: 2rem;
}

.product-details__others-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.product-details__product {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(216, 216, 216);
  overflow: hidden;
  position: relative;
}

.product-details__product.special-product::after {
  content: "special offer";
  width: 200px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: black;
  position: absolute;
  top: 10px;
  right: -65px;
  transform: rotate(40deg);
}

.product-details__product__img-wrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

.product-details__product__product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: darken;
}

.product-details__product__details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product-details__product__product-name {
  width: max-content;
  max-width: 100%;
  color: initial;
  text-decoration: none;
}

.product-details__product__product-price {
  width: max-content;
  color: initial;
  text-decoration: none;
}

.product-details__product__product-rate {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.product-details__product__product-rate .stard {
  color: #e1c828;
}

@media screen and (max-width: 762px) {
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .product-details__image-wrapper {
    max-height: 400px;
  }
  .product-details__product-pictures {
    flex-wrap: wrap;
    max-width: 400px;
    height: max-content;
  }
}