.search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.search__product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(216, 216, 216);
  overflow: hidden;
  position: relative;
}

.search__product-item::after {
  content: "special offer";
  width: 200px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: black;
  position: absolute;
  top: 10px;
  right: -65px;
  transform: rotate(40deg);
}

.search__image-wrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

.search__product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: darken;
}

.search__product-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search__product-name {
  width: max-content;
  max-width: 100%;
  color: initial;
  text-decoration: none;
}

.search__product-price {
  width: max-content;
  color: initial;
  text-decoration: none;
}

.search__product-rate {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.search__product-rate .stard {
  color: #e1c828;
}
